.cart-page {
    align-items: center;
    justify-content: center;
}
main .box {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 100%;
    min-height: 650px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

main .inner-box {
    position: absolute;
    width: 93.4%;
    height: 89.2%;
    margin: 35px;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    margin-top: 40px;
    border-collapse: collapse;
    margin-bottom: 10px;
}

tr:not(:last-child) {
    border-bottom: 1px solid black;
}

td {
    padding: 10px;
}

main .product-img {
    border-radius: 6px;
    width: 100px;
    height: 100px;
}

td a img {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    padding: 5px;
}

td a img:hover {
    background-color: #eae7e7;
}

td.prezzo, td.subtotale, td.al, td.quant {
    text-align: center;
}

td a.product-titolo {
    color: black;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px;
}

td a.product-titolo:hover {
    background-color: #eae7e7;
}

main .user-info{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 30px 35px 0 35px;
}

main .orders {
    max-height: 100%;
    width: 40%;
}

main .order-info {
    height: 90%;
    border-radius: 15px;
    overflow: auto;
    box-shadow: inset 1px 1px 6px 4px rgb(0 0 0 / 27%);
}
.order{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.button {
    display: inline-block;
    min-width: 150px;
    width: 45%;
    max-width: 300px;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}



.button:hover {
   background-color: white;
    color: black;
    border: 2px solid black;
}

.button:disabled{
    color: white;
    border: none;
    box-shadow: none;
    background-color: #bbbbbb;
    text-align: center;
}

.margin{
    margin: 20px;
}
.form-modify{
    display: none;
}
.pass-modify{
    display: none;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 0.8rem;
    padding: 16px;
    position: fixed;
    right: 30px;
    top: 120px;
    font-size: 0.8rem;
    z-index: 1;
    border: 2px solid black;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 30px; opacity: 1;}
}

@keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {right: 30px; opacity: 1;}
    to {right: 0; opacity: 0;}
}

@keyframes fadeout {
    from {right: 30px; opacity: 1;}
    to {right: 0; opacity: 0;}
}

main .user-information {
    margin-top: 30px;
    width: 90%;
    border-radius: 15px;
    border: 1px solid #bbbbbb;
}
main .welcome {
    align-self: flex-start;
}
main legend {
    margin: 0 20px;
    padding: 0 5px;
}
main .title {
    font-size: 0.8rem;
    margin: 10px 10px 2px;
    font-weight: bold;
}
main .data {
 margin: 2px 25px 10px;
}
main .buttons {
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
main .title-order {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 30px;
}
main .title-order p {
    line-height: 30px;
    width: 50%;
    text-align: center;
    color:white;
    background-color: black;
    border-radius: 15px;
}
main .order-info-table {
    border-radius: 14px;
    border: 1px solid #bbbbbb;
    width: 100%;
    margin-bottom: 40px;
}