.cart-page {
    align-items: center;
    justify-content: center;
}
main .box {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 100%;
    min-height: 600px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

main .inner-box {
    width: 93.4%;
    height: 89.2%;
    margin: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .empty-cart {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .cart {
    position: relative;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

main .cart-text {
    margin-top: 10px;
}


main .empty-cart img {
    max-width: 350px;
    max-height: 350px;
    width: 45%;
}

main .empty-cart-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 60px 0 60px;
}

main div.to-show, main a.to-show {
    display: none;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 0.8rem;
    padding: 16px;
    position: fixed;
    right: 30px;
    top: 120px;
    font-size: 0.8rem;
    z-index: 1;
    border: 2px solid black;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 30px; opacity: 1;}
}

@keyframes fadein {
    from {right: 0; opacity: 0;}
    to {right: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {right: 30px; opacity: 1;}
    to {right: 0; opacity: 0;}
}

@keyframes fadeout {
    from {right: 30px; opacity: 1;}
    to {right: 0; opacity: 0;}
}

table {
    margin-top: 60px;
    border-collapse: collapse;
    margin-bottom: 100px;
}

main .submit-order {
    position: absolute;
    bottom: 0;
    right: 0;


}

main .submit-order-btn {
    display: inline-block;
    width: 250px;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
}

main .submit-order-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

tr:not(:last-child) {
    border-bottom: 1px solid black;
}

td {
   padding: 10px;
}

main .product-img {
    border-radius: 6px;
    width: 100px;
    height: 100px;
}

td a img {
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    padding: 5px;
}

td a img:hover {
    background-color: #eae7e7;
}

td#prezzo, td#subtotale, td.al, td.quant {
    text-align: center;
}

td a.product-titolo {
    color: black;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px;
}

td a.product-titolo:hover {
    background-color: #eae7e7;
}

@media screen and (max-width: 780px) {

    main .empty-cart {
        flex-direction: column-reverse;
    }

    main .empty-cart {
        flex-direction: column-reverse;
    }

    main .empty-cart img {
        width: 60%;
        max-width: none;
        max-height: none;
        margin-top: 30px;
    }

    main .empty-cart-text {
        font-size: 0.8rem;
    }

    main div.empty-cart-text h1 {
        font-size: 6vw;
    }

    main {
        min-height: unset;
    }

    main .cart-text {
        text-align: center;
    }

    main .submit-order {
        text-align: center;
        position: unset;
    }

}

@media screen and (max-width: 860px) {
     main .cart {
         width: 100%;
     }

    main .column-name h2 {
        font-size: 0.9rem;
    }

    main .box {
        max-width: none;
    }
}

@media screen and (max-width: 700px) {

    main .rem-qu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    main .column-name {
        display: none;
    }

    main td.to-hide {
        display: none;
    }

    main a.to-show {
        display: block;
    }
    main div.to-show {
        display: flex;
        flex-direction: column;
    }

    main .empty-td {
        display: none;
    }

    tbody {
        display: flex;
        flex-direction: column;
    }

    td {
        padding: 10px 10px 10px 0;
    }

    main .product-img {
        width: unset;
        height: 18vh;
    }

    td.quant, td.al {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {

    main .empty-cart-text {
        margin: unset;
    }

    main {
        padding: 10px;
    }

    main .empty-cart img {
        width: 80%;
    }

}


