.cart-page {
    align-items: center;
    justify-content: center;
}
main .box {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 100%;
    min-height: 600px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

main .inner-box {
    position: absolute;
    width: 93.4%;
    height: 89.2%;
    margin: 35px;
    display: flex;
    flex-direction: column;
}

.inline{
    display: inline;
}

.item-info-form h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.err-desc{
    display: flex;
    height: 100%;
    justify-content: center;
}

.back-image{
    width: 32px;
    height: 32px;
}

.back{
    width: fit-content;
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
}

.back p {
    margin: 10px;
}

.image{
    max-width: 450px;
    width: 55%;
}

.err-wrap {
    width: 90%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.err-text {
    display: flex;
    justify-content: center;
    width: inherit;
    flex-direction: column;
}

div.err-text h1 {
    font-size: 5vw;
}