.cart-page {
    align-items: center;
    justify-content: center;
}
main .box {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 100%;
    min-height: 600px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}
main .inner-box {
    position: absolute;
    width: 93.4%;
    height: 89.2%;
    margin: 35px;
    display: flex;
}

table {
    margin-top: 60px;
    border-collapse: collapse;
    margin-bottom: 100px;
}

tr:not(:last-child) {
    border-bottom: 1px solid black;
}

td {
    padding: 10px;
}

main .product-img {
    border-radius: 6px;
    width: 100px;
    height: 100px;
}


td.prezzo, td.subtotale, td.al, td.quant {
    text-align: center;
}

td a.product-titolo {
    color: black;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px;
}

td a.product-titolo:hover {
    background-color: #eae7e7;
}

.item-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-image img{
    box-shadow: 1px 4px 7px 1px #545454;
    width: 60%;
    min-height: 55.081%;
    border-radius: 10px;
}

.item-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
div .tag a{
    text-decoration: none;
    color: black;
}
div.tag a h2 {
    box-shadow: 1px 3px 4px 1px #545454;
    width: fit-content;
    padding: 8px;
    background-color: white;
    border-radius: 30px;
    border: 3px solid black;
    margin-left: 5px;
    margin-top: 5px;
}

.item-info-tag-element{
    display: flex;
    width: inherit;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-info-tag-name{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.button {
    box-shadow: 1px 3px 4px 1px #545454;
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.button:disabled{
    box-shadow: none;
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #bbbbbb;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.inline{
    display: inline;
}

.item-info-form h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

