.login {
    align-items: center;
    justify-content: center;
}
main .box {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1050px;
    height: 640px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

main .inner-box {
    width: 93.4%;
    height: 89.2%;
    margin: 35px;
    display: flex;
}

main .login-wrap {
    position: relative;
    width: 45%;
    height: 100%;

}

main .register-wrap {
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background-color: black;
    border-radius: 10px;
}

main form {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.register-wrap section {
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .heading1 {
    margin-top: 120px;
    margin-bottom: 70px;
}

main .heading2 {
    margin-top: 120px;
    margin-bottom: 216px;
}

main .heading1 h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #151111;
}

main .heading2 h2 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

main .input-wrap {
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

main .input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: #151111;
    transition: 0.4s;
}

main label {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 0.95rem;
    color: #bbb;
    pointer-events: none;
    transition: 0.4s;
}

main .sign-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    transition: 0.3s;
}

main .reg-btn {
    display: inline-block;
    width: 76.4%;
    height: 43px;
    background-color: #fff;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    transition: 0.3s;
}

main .reg-btn:hover {
    color: white;
    background-color: black;
    border: 2px solid white;
}

main .sign-btn:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
}

.sign-up-form {
    display: none;
}

