div.show-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}

div.search-panel {
    width: 35%;
}

div.panel {
    min-width: 300px;
    padding: 30px 40px;
    border-radius: 6px;
    background-color: white;
}

.item-reference {
    text-decoration: none;
}


.item-container {
    margin: 12px 5px 0 5px;
    padding: 16px;
    height: 100%;
    max-width: fit-content;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 4px 7px 1px #545454;
}

.item-container:hover {
    margin-top:2px;
    margin-bottom: 10px;
}

.item-info {
    margin-top: 20px;
}

.item-titolo {
    color: black;
    font-weight: bolder;
    font-size: 1rem;
    margin-bottom: 2px;
}

.item-artista {
    color: #252525;
    font-weight: lighter;
    font-size: 0.7rem;
    margin-top:4px;
}

img.item-img {
    width: 12.5vw;
    aspect-ratio: 1/1;
    border-radius: 7px;
    box-shadow: 0 1px 4px 1px #545454;
}

#search {
    border: 2px solid black;
    width: 100%;
    font-size: 17px;
    border-radius: 7px;
    background-color: #FFFFFF;
    padding: 6px;
    grid-gap: 10px;
    margin-top: 8px;
}

#search:focus {
    outline: none;
}

#search ::placeholder{
    color:black;
}

main .show {
    margin-left: 4.7%;
    width: inherit;
}

main .tags {
    margin-top: 20px;
    border: 2px solid #252525;
    border-radius: 10px;
    padding: 10px;
}

main .tags legend {
    text-align: center;
    padding: 0 5px;
}

.button {
    width: 50%;
    height: 35px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    margin-top: 10px;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

#form1 {
    display: flex;
    justify-content: center;
}

h3.tag {
    display: inline;
}

.filter-label {
    cursor: pointer;
}

.filter {
    width: 25%;
}


@media screen and (min-width:  1530px) {

    main .show {
        margin-left: 8%;
    }
}


@media screen and (max-width: 1170px){

    img.item-img {
        width: 17.5vw;
    }
}

@media screen and (max-width: 1087px){

    main .show {
        margin-left: 8%;
    }
    img.item-img {
        width: 22vw;
    }
}

@media screen and (max-width: 810px) {

    main {
        flex-direction: column;
        align-items: center;
    }

    div.search-panel {
        width: 95%;
    }

    main .show {
        margin-top: 50px;
    }

    img.item-img {
        width: 23.5vw;
    }
}

@media screen and (max-width: 690px) {
    img.item-img {
        width: 30vw;
    }

    main .show {
        margin-left: 18%;
    }
}

@media screen and (max-width: 690px) {
    img.item-img {
        width: 70vw;
    }
}