div.show-item {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}

div.search-panel {
    width: 35%;
}

div.panel {
    padding: 30px 40px;
    border-radius: 6px;
    background-color: white;
}

.item-reference {
    text-decoration: none;
}


.item-container {
    margin: 12px 5px 0 5px;
    padding: 16px;
    height: 320px;
    background-color: white;
    max-width: 232px;
    border-radius: 7px;
    box-shadow: 1px 4px 7px 1px #545454;
}

.item-container:hover {
    margin-top:2px;
    margin-bottom: 10px;
}

.item-info {
    margin-top: 20px;
}

.item-titolo {
    color: black;
    font-weight: bolder;
    font-size: 1rem;
    margin-bottom: 2px;
}

.item-artista {
    color: #252525;
    font-weight: lighter;
    font-size: 0.7rem;
    margin-top:4px;
}

img.item-img {
    width: 200px;
    height: 200px;
    border-radius: 7px;
    box-shadow: 0 1px 4px 1px #545454;
}

#search {
    border: 2px solid black;
    width: 100%;
    font-size: 17px;
    border-radius: 7px;
    background-color: #FFFFFF;
    padding: 6px;
    grid-gap: 10px;
    margin-top: 8px;
}

#search:focus {
    outline: none;
}

#search ::placeholder{
    color:black;
}

main .show {
    margin-left: 10px;
    width: inherit;
}

main .tags {
    margin-top: 20px;
    border: 2px solid #252525;
    border-radius: 10px;
    padding: 10px;
}

main .tags legend {
    text-align: center;
    padding: 0 5px;
}

.button {
    width: 50%;
    height: 35px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    margin-top: 10px;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

#form1 {
    display: flex;
    justify-content: center;
}

h3.tag {
    display: inline;
}

.filter-label {
    cursor: pointer;
}

.filter {
    width: 25%;
}
