
main {
    z-index: 0;
    margin-top: 120px;
    width: 100%;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    padding: 0 10px 0 10px;
}

main .slider-wrap {
    width: inherit;
}

.slider {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    width: inherit;
    margin-bottom: 5px;
    position: relative;
}

.item-wrapper {
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding-bottom: 20px;
}

.tag {
    margin-left: 40px;
    margin-bottom: 6px;
}

::-webkit-scrollbar {
    display: none;
}

img.item-img {
    width: 200px;
    height: 200px;
    border-radius: 7px;
    box-shadow: 0 1px 4px 1px #545454;
}

.item-container {
    margin: 12px 5px 0px 5px;
    padding: 16px;
    height: 320px;
    background-color: white;
    max-width: 232px;
    border-radius: 7px;
    box-shadow: 1px 4px 7px 1px #545454;
}

.item-container:hover {
    margin-top:2px;
    margin-bottom: 10px;
}
.item-reference {
    text-decoration: none;
}

.item-info {
    margin-top: 20px;
}

.item-titolo {
    color: black;
    font-weight: bolder;
    font-size: 1rem;
    margin-bottom: 2px;
}

.item-artista {
    color: #252525;
    font-weight: lighter;
    font-size: 0.7rem;
    margin-top:4px;
}
